@{ 
    ViewBag.Title = "Home";
}
<p>View jobs by:</p>
    @foreach (KeyValuePair<string, string> action in ViewBag.actions)
    {
        <ul>
            <li><a href="/@action.Key">@action.Value</a></li>
        </ul>
    }
